img.logo{
  display: block;
  margin: 100px auto;

}
body{
  font-family: "minion-3", serif!important;
}
.logo{
  transition: opacity 2s ease-in;
}
h3{
  text-align: center;
  font-size: 50px!important;
  padding: 50px;
  color: #868181!important;
}
li{
  list-style-type: none;
}
h1{
  text-align: center;
  color: #8C9DA5!important;
}
.us{
    display: flex;
    padding: 0;

}
.subCont{
  max-height: 300px;
}
.listus{
  margin:70px auto;
}
@media (max-width: 1032px) {
li.listus {
display: none;
}
}

p#intro{
  text-align: justify;
  height: 30%;
  width: 80%;
  margin: auto!important;

}
@media (max-width: 850px) {
p#intro {
display: none;
}
}
.container{

  display:flex;
  background-color:#E6E6E6;
  padding: 0px!important;
  margin: 0px!important;
  width: auto!important;
}
img#bathroom{
  padding: 0px;
}
.placeholder{
  height: 150px;
  width: auto;
  padding: 0px;
  background-color: lightblue;
}
.rowA{
  display: flex;
  flex-wrap: wrap;
  margin:0px auto;
  justify-content: center;
  align-content: space-around;
  padding-bottom: 100px;
  /* padding-top: 100px; */
}
img.icons:hover{
  transform: scale(1.5);
}
img.icons{
  padding-left: 35px;
  padding-right: 35px;
}
a{
  margin: 10px;
  height: auto;
  line-height: none!important;
  text-decoration: none;

}
.rowB{
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  justify-content: space-around;
  padding-bottom: 100px;
  padding-top: 30px;
  /* background-color: #C0C9CD; */
}

/*  PEOPLE */

.containerP {
  position: relative;
   /* width: 50%; */
}

.image {
  display: block;
  /* width: 35%; */
  height: auto;
  margin: 20px;
  border-radius: 100px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  /* width: 35%; */
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  border-radius: 100px;
}

.containerP:hover .overlay{
  opacity: .9;
  color: black;
}

.containerP:hover{
  color:navy;
}
p{
  padding: 40px;
  margin-top:30px!important;
  line-height: 18px;
  color:#868181 ;
  font-size: 15px;
}
em{
  color: #616162;
  font-weight: bold;
  font-size: 20px;
  z-index: 5;
}
.glyphicon{
  font-size: 35px;
  color:#616162;
}
a{
  margin: 0px;
}
a.glyphicon-envelope{
  margin-left:40%!important;

}

.nameplate{
  text-align: center;
}
h5{
  font-size: 20px!important;
}
h6{
  font-size: 13.5px!important;
}
.staffHead{
  margin: 0 100px;
  text-align: center;
}
.state{
  background-image: url('../images/Tx.png');
  height: 800px;
  min-width: 800px;
  background-repeat: no-repeat;

}
.flex{
  display: flex;
}
#contactUs{

  font-size: 100px!important;
  text-align: center;
  width: 500px;

}
#houston{
  position: relative;
  left: 350px;
  top: 450px;
}
#arlington{
  position: relative;
  left: 400px;
  top: 240px;
}
button {
	background: none;
	color: inherit;
	border: none;
	padding: 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  text-align: right;
  font-size: 10px;
}




p2{
  padding-left: 20px;
  font-size: 20px;
}
span.glyphicon-home{
padding-top: 10px;
}
a.glyphicon{
  margin-left: 0;
}
#contactHead{
  text-align: center;
  font-size: 50px;
  padding-bottom: 10%;
}

#contactB{
  position:relative;
  top: 370px;
  left: 100px;

}
