img.logo{
  display: block;
  margin: 100px auto;

}
.logo{
  transition: opacity 2s ease-in;
}

li{
  list-style-type: none;
}
h1{
  text-align: center;
  color: #8C9DA5!important;
}
.us{
    display: flex;
    padding: 0;

}
.subCont{
  max-height: 300px;
}
.listus{
  margin:70px auto;
}
@media (max-width: 1032px) {
li.listus {
display: none;
}
}

p#intro{
  text-align: justify;
  height: 30%;
  width: 80%;
  margin: auto!important;

}
@media (max-width: 850px) {
p#intro {
display: none;
}
}
.container{

  display:flex;
  background-color:#E6E6E6;
  padding: 0px!important;
  margin: 0px!important;
  width: auto!important;
}
img#bathroom{
  padding: 0px;
}
.placeholder{
  height: 150px;
  width: auto;
  padding: 0px;
  background-color: lightblue;
}
.rowA{
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  justify-content: center;
  align-content: space-around;
  padding-bottom: 100px;
  padding-top: 100px;
}
img.icons:hover{
  transform: scale(1.5);
}
img.icons{
  padding-left: 25px;
  padding-right: 25px;
}
a{
  margin: 10px;
  height: auto;
  line-height: none!important;
  text-decoration: none;
}
.rowB{
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 100px;

}

/*  PEOPLE */

.containerP {
  position: relative;
   /* width: 50%; */
}

.image {
  display: block;
  /* width: 35%; */
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  /* width: 35%; */
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.containerP:hover .overlay{
  opacity: .9;
  color: black;
}

.containerP:hover{
  color:navy;
}
p{
  padding: 20px 30px;
  margin: 0px;
  line-height: 18px;
}
em{
  color: #616162;
  font-weight: bold;
  font-size: 20px;
  z-index: 5;
}
.glyphicon{
  font-size: 35px;
  color:#616162;
}
a{
  margin: 0px;
}
a.glyphicon{
  margin-left:40%!important;

}

.nameplate{
  text-align: center;
}
h5{
  font-size: 20px!important;
}
h6{
  font-size: 13.5px!important;
}
